*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 40px;
    font-family: 'Open Sans', 'sans-serif';
    background-color: rgba(180,223,255, 0.15);
    color: #444;
}

h1, p {
    margin: 0 0 1em 0;
}

header {
    font-family: Funkydori;
    color: white;

}

.wrapper > nav {
    background-color: #F2F2F2;
}

.wrapper > footer {
    background-color: #F2F2F2;
}

.div-sidebar{
    background-color: #F2F2F2;

}


.header{
    height: 10em;
    background: linear-gradient(to right, #26d35a , #424aed);
}

.sidebar{
    display: block;
    background-color: #F2F2F2;
    width: 10%;
}



.sidebar-ul{
    text-decoration: none;
    padding: 0;
}
.sidebar-li{
    list-style-type: none;
}

.wrapper {
    max-width: 100%;
    margin: 0 20px;
    display: grid;
    grid-gap: 10px;
}


.row{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 30px;





}
.pls{
    background-color: #F2F2F2;
    width: 99%;
    border: 1px solid red;

}

.btn-large-ghost{
    display: none;
}


@media screen and (max-width: 880px) {

    .sidebar{
        display: none;
    }
    .btn-large-ghost{
        display: block;
    }


}



@media screen and (min-width: 500px) {

    /* no grid support? */
    .sidebar {
        float: left;
        width: 19.1489%;
        background-color: #F2F2F2;

    }

    .content {
        float: right;
        width: 79.7872%;
    }

    .wrapper {
        margin: 0 auto;
        grid-template-columns: 1fr 5fr;
    }

    .header, .footer {
        grid-column: 1 / -1;
        /* needed for the floated layout */
        clear: both;
    }

}

.wrapper > * {
    background-color: transparent;
    color: black;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    /* needed for the floated layout*/
    margin-bottom: 10px;
}

/* We need to set the widths used on floated items back to auto, and remove the bottom margin as when we have grid we have gaps. */
@supports (display: grid) {
    .wrapper > * {
        width: auto;
        margin: 0;
    }
}